<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ _title }}
  </h1>
  <h2>
    {{ _instructions }}
  </h2>
</div>
<div>
    <input type="text" id="url" [(ngModel)]="_url"> <button id="submit" (click)="getIssuesFromURL()">Get Issues</button>
</div>
<div *ngIf="_issues">
    <div id="paginaction">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div id="issuesList">
      <div *ngFor="let issue of _issues | paginate: { itemsPerPage: 10, currentPage: p }" >
        <div id="issue">
          <div id="content">
            <span> Issue: {{ issue.number }} </span> <br>
            {{ issue.title }}
          </div>
        </div>
      </div>
    </div>
</div>

<div *ngIf="error">
  {{ _error }}
</div>

<router-outlet></router-outlet>
